// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 18px;

$body-font-family: 'Rubik', sans-serif !default;

$veryDarkGrayColor: hsl(0, 0%, 17%);
$darkGrayColor: hsl(0, 0%, 59%);

// - Very Dark Gray: hsl(0, 0%, 17%)
// - Dark Gray: hsl(0, 0%, 59%)

.it-font-weight-regular {
    font-weight: 400 !important;
}

.it-font-weight-medium {
    font-weight: 500 !important;
}

.it-font-weight-bold {
    font-weight: 700 !important;
}